div {
    margin-bottom: 20px;
    word-wrap: break-word;
}

span {
    word-wrap: break-word;
}




input {
    margin-left: 10px;
}

.back {
    font-size: 1.2em;
    position: absolute;
    top: 0;
    right: 0;
}

button{
    margin-right: 10px;
    margin-bottom: 10px;
}

#input_url{
    display: none;
}

.input_points{
    width: 50px;
}

.input_correction{
    width: 50px;
}

@media (orientation: portrait) and (max-width: 600px) {
    .h2 {
        font-size: 1em;
        font-weight: bold;
    }

    .h1 {
        font-size: 1.5em;
        font-weight: bold;
    }

    #name {
        width: 100px;
    }
}
  
@media (orientation: landscape) and (min-width: 600px) {
    .h2 {
        font-size: 1.5em;
        font-weight: bold;

    }

    .h1 {
        font-size: 2em;
        font-weight: bold;
    }
}

